<p>
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
    {%case page.lang %}
    {%when 'tr' %}
      Bazı hakları saklıdır
    {% else %}
      Some rights reserved
    {% endcase %}
  </a>
  &copy; 2009-{{ site.time | date:"%Y" }} <a href="{{ site.url }}">Ali Polatel</a>
</p>

<p>
  <a href="http://validator.w3.org/check?uri=referer">
    <img alt="Valid XHTML 1.1" src="{{ site.url }}/images/icons/xhtml.png" />
  </a>
  <a href="http://jigsaw.w3.org/css-validator/check/referer">
    <img alt="Valid CSS" src="{{ site.url }}/images/icons/css.png" />
  </a>
</p>

<p>
  &#9829; + &#9774; = {% include nur %}
</p>
